# Laravel & Framework
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/pail

# Environment files 
.env
.env.*
!.env.example

# IDE / Editor
.idea
.vscode
.fleet
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.nova
/.zed

# OS junk
.DS_Store
Thumbs.db

# Logs & temp
*.log
Homestead.json
Homestead.yaml

# Build outputs
/public/build

# Optional: remove comment below if pakai Laravel Sail / Docker
# docker-compose.override.yml
